:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.17 0.05 15);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.17 0.05 15);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.17 0.05 15);
  --primary: oklch(0.7 0.18 15);
  --primary-foreground: oklch(0.98 0.01 15);
  --secondary: oklch(0.96 0.01 15);
  --secondary-foreground: oklch(0.17 0.05 15);
  --muted: oklch(0.96 0.01 15);
  --muted-foreground: oklch(0.56 0.05 20);
  --accent: oklch(0.96 0.01 15);
  --accent-foreground: oklch(0.17 0.05 15);
  --destructive: oklch(0.6 0.25 24);
  --destructive-foreground: oklch(0.98 0.01 15);
  --border: oklch(0.92 0.01 15);
  --input: oklch(0.92 0.01 15);
  --ring: oklch(0.7 0.18 15);
  --radius: 0.5rem;
  --chart-1: oklch(0.7 0.24 40);
  --chart-2: oklch(0.55 0.18 173);
  --chart-3: oklch(0.39 0.1 197);
  --chart-4: oklch(0.77 0.26 83);
  --chart-5: oklch(0.78 0.29 60);
}

.dark {
  --background: oklch(0.205 0 0);
  --foreground: oklch(0.98 0.01 15);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.98 0.01 15);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.98 0.01 15);
  --primary: oklch(0.7 0.18 15);
  --primary-foreground: oklch(0.98 0.01 15);
  --secondary: oklch(0.25 0.02 15);
  --secondary-foreground: oklch(0.98 0.01 15);
  --muted: oklch(0.25 0.02 15);
  --muted-foreground: oklch(0.65 0.05 20);
  --accent: oklch(0.25 0.02 15);
  --accent-foreground: oklch(0.98 0.01 15);
  --destructive: oklch(0.39 0.14 25);
  --destructive-foreground: oklch(0.98 0.01 15);
  --border: oklch(0.25 0.02 15);
  --input: oklch(0.25 0.02 15);
  --ring: oklch(0.7 0.18 15);
  --chart-1: oklch(0.58 0.2 15);
  --chart-2: oklch(0.56 0.19 160);
  --chart-3: oklch(0.7 0.21 40);
  --chart-4: oklch(0.71 0.26 15);
  --chart-5: oklch(0.7 0.3 20);
}
